ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CODE_SIGN_STYLE=Automatic
CURRENT_PROJECT_VERSION=139
INFOPLIST_FILE=ScalableMonorepo/Resources/Supporting Files/Info.plist
IPHONEOS_DEPLOYMENT_TARGET=11.0
MARKETING_VERSION=1.22.1
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1
ONLY_ACTIVE_ARCH=NO
EXCLUDED_ARCHS=arm64

LD_RUNPATH_SEARCH_PATHS=["$(inherited)", "@executable_path/Frameworks"]
PRODUCT_BUNDLE_IDENTIFIER=com.scalablemonorepo.dev

#include "../Pods/Target Support Files/Pods-ScalableMonorepo/Pods-ScalableMonorepo.debug.xcconfig"