ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES=YES
BUNDLE_LOADER=$(TEST_HOST)
CODE_SIGN_STYLE=Automatic
INFOPLIST_FILE=ScalableMonorepoTests/Info.plist
IPHONEOS_DEPLOYMENT_TARGET=14.5
PRODUCT_BUNDLE_IDENTIFIER=br.com.scalablemonorepo.tests.dev
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2
TEST_HOST=$(BUILT_PRODUCTS_DIR)/ScalableMonorepo.app/ScalableMonorepo

LD_RUNPATH_SEARCH_PATHS=["$(inherited)", "@executable_path/Frameworks", "@loader_path/Frameworks"]

#include "../Pods/Target Support Files/Pods-ScalableMonorepoTests/Pods-ScalableMonorepoTests.debug.xcconfig"